{% for paper in object_list %}
    <div class="card my-2">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title col">
                    <a href="{% url 'rank:paper-detail' paper.id %}">{{ paper.title }}</a>
                </h5>
                <small class="text-right col-3 col-lg-2">{{ paper.n_citation }} citations</small>
            </div>
            <h6 class="card-subtitle text-muted mb-2">{{ paper.venue.name }}</h6>
            <div class="mb-2">
                {% for author in paper.authors.all %}
                    <a href="{% url 'rank:author-detail' author.id %}">{{ author }}</a>
                    {% if not forloop.last %}; {% endif %}
                {% endfor %}
            </div>
            <p class="card-text">{{ paper.short_abstract }}</p>
        </div>
    </div>
{% endfor %}
