<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Academic Graph{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-5 mb-1">
        <a href="{% url 'rank:index' %}" class="navbar-brand">Academic Graph</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="nav" class="collapse navbar-collapse">
            <div class="mr-auto">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'rank:search-paper' %}" class="nav-link">搜索论文</a></li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %}</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'rank:logout' %}" class="dropdown-item" onclick="return confirm('确认注销？')">注销</a>
                    </div>
                </div>
                <span>，欢迎！</span>
            {% else %}
                <a href="{% url 'rank:login' %}" class="btn btn-outline-secondary mx-1">登录</a>
                <a href="{% url 'rank:register' %}" class="btn btn-outline-secondary mx-1">注册</a>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    <div id="main" class="container py-3">
        {% block content %}{% endblock %}
    </div>
</main>
<footer class="bg-light py-3 mt-5">
    <div class="container">
        <small>Author: ZZy</small>
    </div>
</footer>
</body>
</html>
