{% extends 'rank/base.html' %}

{% block title %}用户登录{% endblock %}

{% block content %}
    <div class="mx-auto" style="max-width: 20rem">
        <h1 class="text-center my-5">用户登录</h1>
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <form action="{{ login_url }}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">用户名</label>
                <input id="username" type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input id="password" type="password" name="password" class="form-control" required>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="登录">
        </form>
    </div>
{% endblock %}
