{% extends 'rank/base.html' %}

{% block title %}论文详情{% endblock %}

{% block content %}
    <h1>{{ paper.title }}</h1>
    <p>{{ paper.venue }}</p>
    <p>{{ paper.authors.all|join:'; ' }}</p>
    <div class="row">
        <div class="col-2"><p>{{ paper.references.count }} references</p></div>
        <div class="col-2"><p>{{ paper.citations.count }} citations</p></div>
    </div>
    <h3>Abstract</h3>
    <p>{{ paper.abstract }}</p>
    <h3>Fields</h3>
    {{ paper.fos.all|join:'; ' }}
{% endblock %}
