{% extends 'rank/base.html' %}

{% block title %}论文详情{% endblock %}

{% block content %}
    <h2>{{ paper.title }}</h2>
    <p>{{ paper.venue }}</p>
    <p>{{ paper.authors.all|join:'; ' }}</p>
    <div class="row">
        <div class="col-6 col-sm-2"><p>{{ paper.references.count }} references</p></div>
        <div class="col-6 col-sm-2"><p>{{ paper.citations.count }} citations</p></div>
    </div>
    <h3>Abstract</h3>
    <p>{{ paper.abstract }}</p>
    <h3>Fields</h3>
    {% for field in paper.fos.all %}
        <span class="badge badge-light">{{ field }}</span>
    {% endfor %}
{% endblock %}
