{% extends 'rank/base.html' %}

{% block title %}论文详情{% endblock %}

{% block content %}
    <h2>{{ paper.title }}</h2>
    <p>{{ paper.year }} {{ paper.venue }}</p>
    <div class="mb-2">
        {% for author in paper.authors.all %}
            <a href="{% url 'rank:author-detail' author.id %}">{{ author }}</a>
            {% if not forloop.last %}; {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-6 col-md-2"><p>{{ paper.references.count }} references</p></div>
        <div class="col-6 col-md-2"><p>{{ paper.n_citation }} citations</p></div>
    </div>
    <h3>Abstract</h3>
    <p>{{ paper.abstract }}</p>
    <h3>Fields</h3>
    {% for field in paper.fos.all %}
        <span class="badge badge-light">{{ field }}</span>
    {% endfor %}
{% endblock %}
