{% extends 'rank/base.html' %}

{% block title %}用户注册{% endblock %}

{% block content %}
    <div class="mx-auto" style="max-width: 20rem">
        <h1 class="text-center my-5">用户注册</h1>
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <form action="{% url 'rank:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">用户名</label>
                <input id="username" type="text" name="username" class="form-control"
                       pattern="[0-9A-Za-z_]+" maxlength="150" required>
                <small class="form-text text-muted">只能包含字母、数字和下划线</small>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input id="password" type="password" name="password" class="form-control" maxlength="255" required>
            </div>
            <div class="form-group">
                <label for="password2">确认密码</label>
                <input id="password2" type="password" name="password2" class="form-control" maxlength="255" required>
            </div>
            <div class="form-group">
                <label for="name">姓名</label>
                <input id="name" type="text" name="name" class="form-control" maxlength="150">
            </div>
            <div class="form-group">
                <label for="email">邮箱</label>
                <input id="email" type="email" name="email" class="form-control" maxlength="254" required>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="注册">
        </form>
    </div>
{% endblock %}
